#.scala-e
*.iml
.idea/
*.log
.cache
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
*.out
play-*.zip
play-*/
lib/
lib/*
web/release/
web/release/*
common/release/
common/release/*