a:link {
    		color: #aaa;
    		text-decoration: none;
		}
a:visited {
    		color: #aaa;
    		text-decoration: none;
		}
a:hover {
    		color: #aaa;
    		text-decoration: none;
		}
a:active {
    		color: #aaa;
    		text-decoration: none;
		}
